include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/form-start/form-start

- $.title = `${pageList.login.title} - ${$.package.description}`;

+page
  +header.__header
  +e.__main
    .container-fluid
      +logo.__logo.mt-20.mb-25
      .row
        .col-4.offset-4
          +b.H1.title.mb-30 #[strong #Meta]Gate
          +form-start('login')
  +footer('inner').__footer