include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/nav-meta/nav-meta
include ../blocks/line-chart/line-chart

- $.title = `${pageList.newWallet.title} - ${$.package.description}`;

+page.--theme-dark
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row
            .col-10.mt-40.d-flex.align-items-start
              +b.H1.title.__title #[strong #Meta]Wallet
              +breadcrumb(['My Wallets', 'Transfer', 'History', 'Settings']).__breadcrumb.mt-30.ml-50
            .col-2.mt-10.d-flex.flex-column.align-items-end
              +logo.__logo.mb-35
              +e.NAV.__actions
                +e.A.__actions-item(href=js)
                  +isvg#user.__actions-icon
                  | User Login
      .container-fluid
        +nav-meta.mb-70
      +line-chart({"width": "100%", "height": 210, "fill": "#003D69", "stroke": "url(#line-chart)", "strokeWidth": 2}).--theme-blue
      +b.SECTION.subsection.mb-30-inv
        .container-fluid
          +e.HEADER.__header.mb-25
            .row.align-items-center
              .col-auto.mw-100
                +e.H2.__title
                  +isvg#wallet.__title-icon
                  | My Wallets
          +b.FORM.form-create(action='')
            .row
              +e.__col-1.col-6.pr-40
                +e.H2.__title Create new wallet
                +e.__row
                  +e.__number
                    +e.__number-value 0x001cbebef6a7ac3df03918f4e2ab65d7dc881cfd684bb672d1
                    +e.BUTTON.__number-refresh.btn(type='button' title='Refresh')
                      +isvg#refresh-1.__number-refresh-icon
                +e.__row.d-flex
                  +e.__wallet-thumbnail
                    +isvg#warning.__wallet-thumbnail-icon
                    +e.__wallet-thumbnail-text Offline
                  +e.__wallet-name
                    +b.LABEL.form-field-lbl(data-placeholder='Wallet name')
                      +e.INPUT.__input(type='text' value='My wallet #1')
                      +isvg#check.__icon
                +e.__row
                  +b.LABEL.form-field-lbl(data-placeholder='Additional notes')
                    +e.INPUT.__input(type='text')
                +e.__row.mb-25
                  .row
                    .col-6
                      +b.LABEL.form-field-lbl(data-placeholder='Create password')
                        +e.INPUT.__input(type='password')
                        +isvg#safe.__icon
                      +e.A.__action.btn(href=js) Generate and fill
                    .col-6
                      +b.LABEL.form-field-lbl(data-placeholder='Confirm password')
                        +e.INPUT.__input(type='password')
                        +isvg#safe.__icon
                  +e.__msg-info.text-right
                    | Save and store password securely  #[br]We will not be able to restore it in case of its loss/in case you forget it?
              +e.__col-2.col-6
  +footer('inner').__footer