include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/form-start/form-start

- $.title = `${pageList.login.title} - ${$.package.description}`;

+page
  +header.__header
  +e.__main.d-flex.flex-column.justify-content-center
    .container-fluid
      .row
        .col-4.offset-4
          +b.H1.title-sect #[strong #Meta]Gate
          +form-start('login')
  +footer.__footer