.page {
  $b: &;
  height: 100%;
  ::selection {
    color: white;
    background-color: $color-dark-blue;
  }

  &__body {
    height: 100%;

    &-inner {
      display: flex;
      flex-direction: column;
      min-width: 1280px;
      min-height: 100%;
      background: url-img('promo-spiral.png') no-repeat 0 0 fixed,
      url-img('team-cloud.png') no-repeat 100% 100% fixed $body-bg;
      padding-top: 70px;
      overflow: hidden;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }

  &__main {
    flex: 1 0 auto;
    padding: 30px 0;
  }

  &__footer {
    flex: none;
  }

  &__logo {
    font-size: 52px;
  }

  &--theme-dark {
    #{$b} {
      &__body {
        &-inner {
          background: url-img('promo-spiral.png') no-repeat 0 0 fixed,
          url-img('whatis-satelit.png') no-repeat right 185px top 290px fixed,
          url-img('team-cloud.png') no-repeat 100% 100% fixed $body-bg;
        }
      }
    }
  }

  &--theme-light {
    #{$b} {
      &__body {
        color: #636363;
        &-inner {
          background: #FAFAFA;
        }
      }
    }
  }
}