.svg-symbols {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

[class^='icon-svg-'], [class*=' icon-svg-'] {
  fill: currentColor;
  stroke: inherit;

  use {
    pointer-events: none;
  }
}

.icon-svg-angle-1-down {
  width: (0.625em/0.375em*1em);
  height: 1em;
}
#icon-svg-angle-1-down {
  
}

.icon-svg-angle-left {
  width: (0.625em/0.938em*1em);
  height: 1em;
}
#icon-svg-angle-left {
  
}

.icon-svg-buy-mhc {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#icon-svg-buy-mhc {
  
}

.icon-svg-envelope {
  width: (1.125em/0.688em*1em);
  height: 1em;
}
#icon-svg-envelope {
  
}

.icon-svg-key {
  width: (0.938em/1em*1em);
  height: 1em;
}
#icon-svg-key {
  
}

.icon-svg-logo_mail {
  width: (15.625em/3.25em*1em);
  height: 1em;
}
#icon-svg-logo_mail {
  
}

.icon-svg-metaapps {
  width: (1.188em/0.875em*1em);
  height: 1em;
}
#icon-svg-metaapps {
  
}

.icon-svg-metawallet {
  width: (1.25em/1.063em*1em);
  height: 1em;
}
#icon-svg-metawallet {
  
}

.icon-svg-refresh {
  width: (1.375em/1.063em*1em);
  height: 1em;
}
#icon-svg-refresh {
  
}

.icon-svg-safe {
  width: (0.938em/1.125em*1em);
  height: 1em;
}
#icon-svg-safe {
  
}

.icon-svg-settings {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#icon-svg-settings {
  
}

.icon-svg-user {
  width: (1em/0.938em*1em);
  height: 1em;
}
#icon-svg-user {
  
}

