.svg-symbols {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

[class^='isvg-'], [class*=' isvg-'] {
  fill: currentColor;
  stroke: inherit;

  use {
    pointer-events: none;
  }
}

.isvg-angle-1-down {
  width: (0.625em/0.375em*1em);
  height: 1em;
}
#isvg-angle-1-down {
  
}

.isvg-angle-d {
  width: (0.625em/0.438em*1em);
  height: 1em;
}
#isvg-angle-d {
  
}

.isvg-angle-left {
  width: (0.625em/0.938em*1em);
  height: 1em;
}
#isvg-angle-left {
  
}

.isvg-arr-r {
  width: (1.375em/1.25em*1em);
  height: 1em;
}
#isvg-arr-r {
  
}

.isvg-backup {
  width: (0.938em/1.063em*1em);
  height: 1em;
}
#isvg-backup {
  
}

.isvg-basket-1 {
  width: (1em/1.25em*1em);
  height: 1em;
}
#isvg-basket-1 {
  
}

.isvg-basket {
  width: (0.75em/0.875em*1em);
  height: 1em;
}
#isvg-basket {
  
}

.isvg-bitcoin-cash {
  width: (2.063em/1.313em*1em);
  height: 1em;
}
#isvg-bitcoin-cash {
  
}

.isvg-bitcoin {
  width: (1.5em/2em*1em);
  height: 1em;
}
#isvg-bitcoin {
  
}

.isvg-buy-mhc {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-buy-mhc {
  
}

.isvg-buy {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-buy {
  
}

.isvg-cancel {
  width: (0.813em/0.813em*1em);
  height: 1em;
}
#isvg-cancel {
  
}

.isvg-check-1 {
  width: (1.063em/0.813em*1em);
  height: 1em;
}
#isvg-check-1 {
  
}

.isvg-check {
  width: (0.813em/0.688em*1em);
  height: 1em;
}
#isvg-check {
  
}

.isvg-copy {
  width: (0.813em/0.938em*1em);
  height: 1em;
}
#isvg-copy {
  
}

.isvg-dialog {
  width: (2.125em/2.063em*1em);
  height: 1em;
}
#isvg-dialog {
  
}

.isvg-edit {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-edit {
  
}

.isvg-envelope {
  width: (1.125em/0.688em*1em);
  height: 1em;
}
#isvg-envelope {
  
}

.isvg-erc20 {
  width: (2.938em/0.75em*1em);
  height: 1em;
}
#isvg-erc20 {
  
}

.isvg-ethereum {
  width: (1.438em/2.313em*1em);
  height: 1em;
}
#isvg-ethereum {
  
}

.isvg-fullnode-admin {
  width: (4.5em/4.5em*1em);
  height: 1em;
}
#isvg-fullnode-admin {
  
}

.isvg-group {
  width: (5.625em/5.625em*1em);
  height: 1em;
}
#isvg-group {
  
}

.isvg-help {
  width: (0.813em/0.813em*1em);
  height: 1em;
}
#isvg-help {
  
}

.isvg-history {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-history {
  
}

.isvg-import {
  width: (0.875em/0.875em*1em);
  height: 1em;
}
#isvg-import {
  
}

.isvg-key {
  width: (0.938em/1em*1em);
  height: 1em;
}
#isvg-key {
  
}

.isvg-logo_mail {
  width: (15.563em/3.25em*1em);
  height: 1em;
}
#isvg-logo_mail {
  
}

.isvg-meta-news {
  width: (4.438em/5.75em*1em);
  height: 1em;
}
#isvg-meta-news {
  
}

.isvg-metaapps-1 {
  width: (4.625em/4.188em*1em);
  height: 1em;
}
#isvg-metaapps-1 {
  
}

.isvg-metaapps {
  width: (1.188em/0.875em*1em);
  height: 1em;
}
#isvg-metaapps {
  
}

.isvg-metaapss {
  width: (4.625em/4.188em*1em);
  height: 1em;
}
#isvg-metaapss {
  
}

.isvg-metaexchange {
  width: (5.625em/5.625em*1em);
  height: 1em;
}
#isvg-metaexchange {
  
}

.isvg-metahash {
  width: (3.313em/2.5em*1em);
  height: 1em;
}
#isvg-metahash {
  
}

.isvg-metanews {
  width: (4.438em/5.75em*1em);
  height: 1em;
}
#isvg-metanews {
  
}

.isvg-metawallet-1 {
  width: (5.938em/4.813em*1em);
  height: 1em;
}
#isvg-metawallet-1 {
  
}

.isvg-metawallet {
  width: (1.25em/1.063em*1em);
  height: 1em;
}
#isvg-metawallet {
  
}

.isvg-network-status {
  width: (4.813em/3.625em*1em);
  height: 1em;
}
#isvg-network-status {
  
}

.isvg-plus {
  width: (0.76em/0.76em*1em);
  height: 1em;
}
#isvg-plus {
  
}

.isvg-qr-code {
  width: (0.938em/0.938em*1em);
  height: 1em;
}
#isvg-qr-code {
  
}

.isvg-refresh-1 {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-refresh-1 {
  
}

.isvg-refresh {
  width: (1.375em/1.063em*1em);
  height: 1em;
}
#isvg-refresh {
  
}

.isvg-safe {
  width: (0.938em/1.125em*1em);
  height: 1em;
}
#isvg-safe {
  
}

.isvg-search {
  width: (1em/0.938em*1em);
  height: 1em;
}
#isvg-search {
  
}

.isvg-security-1 {
  width: (1.5em/1.688em*1em);
  height: 1em;
}
#isvg-security-1 {
  
}

.isvg-security {
  width: (1.438em/1.438em*1em);
  height: 1em;
}
#isvg-security {
  
}

.isvg-settings-1 {
  width: (2.25em/2.313em*1em);
  height: 1em;
}
#isvg-settings-1 {
  
}

.isvg-settings-2 {
  width: (5.063em/5.063em*1em);
  height: 1em;
}
#isvg-settings-2 {
  
}

.isvg-settings {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-settings {
  
}

.isvg-star {
  width: (1.263em/1.2em*1em);
  height: 1em;
}
#isvg-star {
  
}

.isvg-submit-apps {
  width: (5.375em/5.313em*1em);
  height: 1em;
}
#isvg-submit-apps {
  
}

.isvg-time {
  width: (0.813em/1.125em*1em);
  height: 1em;
}
#isvg-time {
  
}

.isvg-transfer {
  width: (1.5em/1.5em*1em);
  height: 1em;
}
#isvg-transfer {
  
}

.isvg-user {
  width: (1em/0.938em*1em);
  height: 1em;
}
#isvg-user {
  
}

.isvg-wallet {
  width: (1.313em/1em*1em);
  height: 1em;
}
#isvg-wallet {
  
}

.isvg-warning {
  width: (0.938em/0.875em*1em);
  height: 1em;
}
#isvg-warning {
  
}

