.apps-grid {
  &__inner {
    position: relative;
    margin: -10px -10px;
  }

  &__item {
    $e: &;
    color: #141414;
    position: absolute;
    width: calc(100%/6 - 20px);
    margin: 10px 10px;
    z-index: 1;
    outline: 0;
    @include plain-hover-focus {
      text-decoration: none;
    }
    &:not(&--disabled) {
      &:hover {
        color: #141414;
      }
    }
    &.muuri-item-dragging {
      z-index: 3;
    }
    &.muuri-item-releasing {
      z-index: 2;
    }
    &.muuri-item-hidden {
      z-index: 0;
    }

    &-inner {
      opacity: 0;
    }

    &-top {
      padding-top: 100%;
      background: linear-gradient(180deg, #032854 0%, #0A5E82 100%);
      border-radius: 30px;
      position: relative;
    }

    &-icon {
      color: white;
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      &.isvg-metanews {
        font-size: 92px;
      }
      &.isvg-metawallet-1 {
        font-size: 77px;
      }
      &.isvg-metaexchange {
        font-size: 90px;
      }
      &.isvg-erc20 {
        font-size: 12px;
      }
      &.isvg-settings-2 {
        font-size: 81px;
      }
      &.isvg-metaapps-1 {
        font-size: 67px;
      }
      &.isvg-submit-apps {
        font-size: 85px;
      }
      &.isvg-buy {
        font-size: 94px;
      }
      &.isvg-network-status {
        font-size: 58px;
      }
      &.isvg-fullnode-admin {
        font-size: 72px;
      }
    }

    &-amount {
      font-size: 18px;
      line-height: 40px;
      color: white;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 40px;
      height: 40px;
      padding: 0 8px;
      border-radius: 20px;
      background: #FB5E5B;
      position: absolute;
      top: -10px;
      left: -7px;
    }

    &-badge {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: white;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 100px;
      max-width: calc(100% - 20px);
      padding: 13px 15px;
      background: #8A8A8A;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 10px);
    }

    &-title {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 21px*2;
      margin-top: 15px;
    }

    &--disabled {
      color: rgba(#141414, 0.5);
      #{$e} {
        &-top {
          background: #BABABA;
        }
        &-icon {
          color: rgba(white, 0.5);
        }
      }
    }
  }
}