.btn {
  $b: &;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  padding: 0;
  border: 0;
  background: none;
  user-select: none;
  cursor: pointer;
  transition: $btn-transition;
  @include plain-hover-focus {
    text-decoration: none;
  }
  &:focus {
    @include focus-default;
  }
  @include disabled {
    cursor: default;
    opacity: .3;
  }

  &--primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    padding: 17.5px 20px;
    border: 0;
    border-radius: 4px;
    background: $color-dark-blue;
    @include not-disabled {
      &:hover {
        color: white;
        background: darken($color-dark-blue, 5%);
      }
      &:active {
        background: darken($color-dark-blue, 10%);
      }
    }

    #{$b}__icon {
      width: 20px;
      height: 20px;
      vertical-align: top;
      margin-left: 20px;
      &.isvg-check-1 {
        transform: scale((17/20));
      }
    }

    &-xl {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      color: white;
      padding: (70px - 34px)/2 30px;
      border: 0;
      border-radius: 4px;
      background: $color-dark-blue;
      @include not-disabled {
        &:hover {
          color: white;
          background: darken($color-dark-blue, 5%);
        }
        &:active {
          background: darken($color-dark-blue, 10%);
        }
      }

      #{$b} {
        &__icon {
          vertical-align: top;
          width: 34px;
          height: 34px;
          margin-left: 20px;
        }
      }
    }

    &-lg {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: white;
      text-transform: uppercase;
      padding: (65px - 20px)/2 35px;
      border: 0;
      border-radius: 4px;
      background: $color-dark-blue;
      @include not-disabled {
        &:hover {
          color: white;
          background: darken($color-dark-blue, 5%);
        }
        &:active {
          background: darken($color-dark-blue, 10%);
        }
      }
    }

    &-sm {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: white;
      text-transform: uppercase;
      padding: (45px - 20px)/2 20px;
      border: 0;
      border-radius: 4px;
      background: $color-dark-blue;
      @include not-disabled {
        &:hover {
          color: white;
          background: darken($color-dark-blue, 5%);
        }
        &:active {
          background: darken($color-dark-blue, 10%);
        }
      }
    }

    &-xs {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: white;
      padding: (40px - 20px)/2 20px;
      border: 0;
      border-radius: 4px;
      background: $color-dark-blue;
      @include not-disabled {
        &:hover {
          color: white;
          background: darken($color-dark-blue, 5%);
        }
        &:active {
          background: darken($color-dark-blue, 10%);
        }
      }
    }
  }

  &--light {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-blue;
    @include not-disabled {
      &:hover {
        color: white;
      }
    }

    #{$b}__icon {
      vertical-align: top;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      &.isvg-plus {
        transform: scale((12/20));
      }
      &.isvg-import {
        transform: scale((14/20));
      }
      &.isvg-backup {
        transform: scale((17/20));
      }
    }

    &-1 {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: rgba($color-blue, 0.3);
      text-transform: uppercase;
      @include not-disabled {
        &:hover {
          color: rgba(white, 0.3);
        }
      }

      #{$b} {
        &__icon {
          vertical-align: top;
          width: 14px;
          height: 14px;
          margin-left: 8px;
        }
      }
    }
  }

  &--big {
    font-size: 20px;
    line-height: 30px;
    color: $color-blue;
    display: inline-flex;
    justify-content: space-between;
    padding: 24px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #012E53;
    @include not-disabled {
      &:hover {
        color: $color-blue;
        border-color: rgba(84, 245, 255, 0.7);
        box-shadow: 0 0 15px rgba(46, 217, 255, 0.7);
        &:focus {
          @include focus-default(0 0 15px rgba(46, 217, 255, 0.7));
        }
      }
    }

    #{$b} {
      &__lbl {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__icon {
        width: 30px;
        height: 30px;
        flex: none;
        margin-left: 25px;
        &.isvg-plus {
          transform: scale((24/30));
        }
        &.isvg-import {
          transform: scale((22/30));
        }
      }
    }
  }

  &--cancel {
    font-size: 12px;
    line-height: 14px;
    color: $color-blue;
    text-transform: uppercase;
    display: inline-flex;
    @include not-disabled {
      &:hover {
        color: white;
      }
    }
    #{$b}__icon {
      flex: none;
      width: 14px;
      height: 14px;
      margin-left: 10px;
      transform: scale((13/14)) translateY(1px);
    }
  }

  &--refresh {
    font-size: 17px;
    color: white;
    #{$b}__icon {
      display: block;
    }
  }

  &--collapse {
    font-size: 18px;
    line-height: 23px;
    color: white;
    text-align: left;
    display: inline-flex;
    @include not-disabled {
      &:hover {
        color: white;
      }
    }
    &.collapsed {
      #{$b} {
        &__icon {
          &.isvg-angle-d {
            transform: scale((10/23)) rotate(-90deg);
          }
        }
      }
    }
    #{$b} {
      &__icon {
        flex: none;
        width: 23px;
        height: 23px;
        &.isvg-angle-d {
          margin-left: 10px;
          transform: scale((10/23));
        }
        &.isvg-security {
          color: $color-blue;
          margin-right: 15px;
        }
      }
      &__lbl {
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1 1 auto;
      }
    }
  }

  &--remove {
    color: $color-blue;
    @include not-disabled {
      &:hover {
        color: white;
      }
    }

    #{$b} {
      &__icon {
        vertical-align: top;
        width: 40px;
        height: 40px;
        transform: scale((20/40));
      }
    }
  }
}

a.btn {
  @include disabled {
    pointer-events: none;
  }
}