.btn {
  $b: &;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  @include plain-hover-focus {
    text-decoration: none;
  }
  &:focus {
    @include focus-default;
  }
  @include state-disabled {
    cursor: default;
    opacity: .65;
  }

  &--primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    padding: 17.5px 20px;
    border: 0;
    border-radius: 4px;
    background: $color-dark-blue;
    transition: $btn-transition;
    @include hover {
      &:not(:disabled), &:not(.disabled) {
        background: darken($color-dark-blue, 5%);
      }
    }
    &:active {
      &:not(:disabled), &:not(.disabled) {
        background: darken($color-dark-blue, 10%);
      }
    }
  }

  &--light {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-blue;
    padding: 0;
    border: 0;
    background: none;
    transition: $btn-transition;
    @include hover {
      &:not(:disabled), &:not(.disabled) {
        color: white;
      }
    }

    #{$b}__icon {
      vertical-align: top;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      &.isvg-plus {
        transform: scale((12/20));
      }
      &.isvg-import {
        transform: scale((14/20));
      }
      &.isvg-backup {
        transform: scale((17/20));
      }
    }
  }

  &--big {
    font-size: 20px;
    line-height: 30px;
    color: $color-blue;
    display: inline-flex;
    justify-content: space-between;
    padding: 24px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #012E53;
    transition: $btn-transition;
    @include hover {
      color: $color-blue;
      &:not(:disabled), &:not(.disabled) {
        border-color: rgba(84, 245, 255, 0.7);
        box-shadow: 0 0 15px rgba(46, 217, 255, 0.7);
      }
    }
    &:active {
      &:not(:disabled), &:not(.disabled) {

      }
    }

    #{$b} {
      &__lbl {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__icon {
        width: 30px;
        height: 30px;
        flex: none;
        margin-left: 25px;
        &.isvg-plus {
          transform: scale((24/30));
        }
        &.isvg-import {
          transform: scale((22/30));
        }
      }
    }
  }
}