.select-sm {
  vertical-align: top;
  .filter-option {
    overflow: hidden;
    flex: 1 1 auto;
    margin-right: 10px;
    &-inner {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .isvg-angle-d {
    flex: none;
    font-size: 7px;
    margin: auto 0;
  }

  &__toggle {
    font-size: 14px;
    line-height: 1.25;
    color: white;
    text-align: left;
    display: flex;
    width: 100%;
    padding: (28px - 14px*1.25)/2 10px;
    border: 0;
    background: #002547;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:focus {
      @include focus-default();
    }
  }

  &__menu {
    border-radius: 0;
    max-width: 300px;
    .dropdown-item {
      font-size: 14px;
      line-height: 1.25;
      padding: (28px - 14px*1.25)/2 10px;
      @include plain-hover-focus {
        text-decoration: none;
      }
      @include hover-focus {
        background: $color-blue;
      }
      &:focus {
        outline: 0;
      }
      &.active {
        background: $color-dark-blue;
      }
      .text {
        display: block !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.show {
    .isvg-angle-d {
      transform: rotateX(180deg);
    }
  }
}