.section-start {
  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &__reserved {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-top: -5px;

    &-lbl {
      margin: 0 15px 5px 0;
    }

    &-num {
      font-weight: 100;
      font-size: 85px;
      line-height: 85px;
      letter-spacing: -0.05em;
      overflow: hidden;
      word-wrap: break-word;
    }
  }
}