@keyframes form-field-lbl-autofill {
  to {
    color: white;
    background: rgba(5, 11, 31, 0.6);
  }
}

.form-field-lbl {
  $b: &;
  display: block;
  margin: 0;
  position: relative;
  &::before {
    content: attr(data-placeholder);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.25;
    color: $color-blue;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    cursor: text;
    pointer-events: none;
    transition: $input-transition-base;
    position: absolute;
    top: (65px - 18px*1.25)/2;
    right: 46px;
    left: 16px;
  }

  &__input {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.25;
    color: $color-blue;
    display: block;
    width: 100%;
    padding: (65px - 24px*1.25 - 2px)/2 + 11px 45px (65px - 24px*1.25 - 2px)/2 - 11px 15px;
    border: 1px solid transparent;
    background: rgba(#050B1F, 0.2);
    box-shadow: 0 0 10px rgba($color-blue, 0.2);
    transition: $input-transition;
    &:-webkit-autofill {
      animation-name: form-field-lbl-autofill;
      animation-fill-mode: both;
    }
  }

  &__icon {
    color: $color-blue;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: text;
    pointer-events: none;
    transition: $input-transition;
    &.isvg-envelope {
      font-size: 11px;
    }
    &.isvg-safe {
      font-size: 18px;
    }
    &.isvg-check {
      font-size: 11px;
    }
  }

  &--focus, &--has-value {
    &::before {
      font-size: 12px;
      top: 8px;
    }
    #{$b} {
      &__input {
        color: white;
        border-color: rgba(153, 206, 255, 0.3);
        background: rgba(5, 11, 31, 0.6);
        box-shadow: none;
        outline: 0;
      }
      &__icon {
        color: white;
        &.isvg-check {
          color: $color-green-1;
        }
      }
    }
  }
}