.footer {
  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    font-size: 52px;
    position: fixed;
    right: 70px;
    bottom: 70px;
    @include plain-hover-focus {
      color: white;
      text-decoration: none;
    }

    &-img {
      display: block;
    }
  }
}