.footer {
  font-size: 14px;
  line-height: (16/14);
  padding: 30px 0;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    font-size: 52px;
    margin: 0 0 0 auto;
  }

  &__support {
    margin: 0 0 0 auto;
  }
}