.footer {
  padding: 30px 0 70px;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    font-size: 52px;
    margin-left: auto;
    margin-right: 78px;
    @include plain-hover-focus {
      color: white;
      text-decoration: none;
    }

    &-img {
      display: block;
    }
  }
}