include ../logo/logo

mixin footer(data)
  +b.FOOTER.footer&attributes(attributes)
    if data === 'start'
      +e.__inner
        +logo.__logo
    else if data === 'inner'
      +e.__inner
        +b.A.action-support(href=js).__support
          +icon-svg#dialog.__icon
          +e.__text
            small Have questions?
            | Ask our support
    else
      block