// State
@mixin focus-default($shadows...) {
  //outline: 1px dotted;
  //outline: 5px auto -webkit-focus-ring-color;
  outline: 0;
  box-shadow: $focus-box-shadow, $shadows;
}

@mixin disabled {
  &:disabled,
  &.disabled {
    @content;
  }
}

@mixin not-disabled {
  &:not(:disabled):not(.disabled) {
    @content;
  }
}

// Pixel ratio
@mixin media-pixel-ratio($dpr) {
  @media (-webkit-min-device-pixel-ratio: $dpr), (min-resolution: $dpr*96dpi) {
    @content;
  }
}