// Colors
$color-blue: #99CEFF;
$color-dark-blue: #2F7BC2;

// Customization Bootstrap
$spacer: 5px;
$spacers: (
  0: 0,
  5: ($spacer * 1),
  10: ($spacer * 2),
  15: ($spacer * 3),
  20: ($spacer * 4),
  25: ($spacer * 5),
  30: ($spacer * 6),
  35: ($spacer * 7),
  40: ($spacer * 8),
  45: ($spacer * 9),
  50: ($spacer * 10),
  55: ($spacer * 11),
  60: ($spacer * 12),
  70: ($spacer * 14)
);

$body-color: #FFFFFF;
$link-color: white;
$link-hover-color: $link-color;
$link-decoration: underline;
$link-hover-decoration: none;
$body-bg: #03081C;

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: (19/16);

$headings-margin-bottom: 0.5rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$grid-columns: 12;
$grid-gutter-width: 20px;

$transition-base: .2s ease-in-out;

$btn-transition-base: .15s ease-in-out;
$btn-transition: color $btn-transition-base, background-color $btn-transition-base, border-color $btn-transition-base, box-shadow $btn-transition-base;

$input-transition-base: $btn-transition-base;
$input-transition: $btn-transition;

$focus-box-shadow: 0 0 0 2px darken($color-blue, 10%);