.form-transfer {
  &__label {
    margin-bottom: 7px;
  }

  &__help {
    vertical-align: top;
    margin: 1px 0 7px;
  }

  &__arrow {
    flex: none;
    color: $color-blue;
    font-size: 20px;
    margin: (17.5px + 21px) -11px 0;
  }

  &__info {
    margin-top: 4px;
  }
}