@keyframes form-field-sm-autofill {
  to {
    color: $color-blue;
    background: rgba(5, 11, 31, 0.6);
  }
}

.form-field-sm {
  font-size: 16px;
  line-height: 19px;
  color: $color-blue;
  display: inline-block;
  vertical-align: top;
  padding: (40px - 19px - 2px)/2 15px;
  border: 1px solid transparent;
  background: rgba(#050B1F, 0.2);
  box-shadow: 0 0 10px rgba($color-blue, 0.2);
  transition: $input-transition;
  &:-webkit-autofill {
    animation-name: form-field-sm-autofill;
    animation-fill-mode: both;
  }
  &[readonly] {
    border-color: rgba($color-blue, 0.15);
    background: transparent;
    box-shadow: none;
  }

  &--focus {
    &[readonly] {
      border-color: rgba(153, 206, 255, 0.3);
    }
  }

  &--focus, &--has-value {
    border-color: rgba(153, 206, 255, 0.3);
    background: rgba(5, 11, 31, 0.6);
    box-shadow: none;
    outline: 0;
  }

  &--textarea {
    white-space: pre-wrap;
    word-break: break-all;
    resize: none;
  }
}