mixin menu
  +b.NAV.menu&attributes(attributes)
    +e.A.__item(href=js)
      +isvg#buy.__item-icon
      +e.__item-lbl Buy#MHC
    +e.A.__item(href=js)
      +isvg#metawallet.__item-icon
      +e.__item-lbl MetaWallet
    +e.A.__item(href=js)
      +isvg#metaapps.__item-icon
      +e.__item-lbl MetaApps
    +e.A.__item(href=js)
      +isvg#settings.__item-icon
      +e.__item-lbl Settings