mixin menu-user
  +b.NAV.menu-user&attributes(attributes)
    +e.UL.__inner
      +e.LI.__item--login
        +e.A.__link(href=js title='user_login@example.com')
          +isvg#user.__icon
          | user_login@example.com
      +e.LI.__item
        +e.A.__link(href=js)
          | Logout
      +e.LI.__item
        +b.SELECT.select-sm
          option EN
          option RU