include ../menu/menu

mixin header
  +b.HEADER.header&attributes(attributes)
    +e.__inner
      +e.BUTTON.__btn--back: +icon-svg#angle-left
      +e.BUTTON.__btn--forward(disabled=''): +icon-svg#angle-left
      +e.BUTTON.__btn--reload: +icon-svg#refresh
      +e.__loc
        +e.INPUT.__loc-field(type='text' value='/MetaGate/Create')
      +menu.__menu
