mixin line-chart(data)
  +b.line-chart&attributes(attributes)
    +e.__settings
      .container-fluid.d-flex.justify-content-end
        +b.SELECT.select-sm.__select
          option Ethereum/USD
          option(selected) #MHC/USD
          option Bitcoin
          option Bitcoin cash
        +b.SELECT.select-sm.__select
          option 1 day
          option 1 week
          option 1 month
    +e.__inner
      <svg style="position: absolute; width: 0; height: 0;">
        <defs>
          <linearGradient id="line-chart" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%"   stop-color="#FF4FF8"/>
            <stop offset="100%" stop-color="#00F0FF"/>
          </linearGradient>
        </defs>
      </svg>
      +e.__peity(data-peity=data)
      +e.__ruler--min
      +e.__ruler--mid
      +e.__ruler--max
      +e.__label
        +e.__label-num
    +e.__axis-x