-
  var js = 'javascript:';

  var pageList = {
    login: {title: 'Login', url: 'page-login.html'},
    register: {title: 'Register', url: 'page-register.html'},
    firstTime: {title: 'FirstTime', url: 'page-first-time.html'},
    wallet: {title: 'Wallet', url: 'page-wallet.html'},
    newWallet: {title: 'NewWallet', url: 'page-new-wallet.html'},
  };