.form-create {
  padding: 45px 0 50px;
  background: rgba(#235D91, 0.5);
  position: relative;

  &__btn-cancel {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin: 0 0 15px;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__col-1 {
    position: relative;
    &::before {
      content: '';
      width: 2px;
      background: rgba(153, 206, 255, 0.3);
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
    }
  }

  &__number {
    font-size: 16px;
    line-height: 19px;
    color: $color-blue;
    word-wrap: break-word;
    overflow: hidden;
  }

  &__wallet-thumbnail {
    font-size: 8px;
    line-height: 9px;
    color: $color-blue;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 65px;
    height: 65px;
    background: #2F7BC2;
    margin-right: 15px;

    &-icon {
      width: 15px;
      height: 15px;
      margin-bottom: 5px;
    }

    &-text {
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      padding: 0 5px;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &--view {
      width: 40px;
      height: 40px;
      margin: 5px 0 0;
    }
  }

  &__wallet-name {
    flex: 1 1 auto;

    &--view {
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 4px;
    }
  }

  &__action {
    font-size: 12px;
    line-height: 14px;
    color: $color-blue;
    text-decoration: underline;
    margin-top: 7px;
    @include not-disabled {
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__msg-info {
    color: $color-green-1;

    &-1 {
      color: $color-blue;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__balance {
    font-size: 14px;
    line-height: (16/14);
    margin-bottom: -9px;

    &-num {
      font-weight: 300;
      font-size: 45px;
    }
  }

  &__label {
    margin-bottom: 10px;
  }

  &__help {
    margin: 3px 0 10px;
  }

  &__btn-refresh {
    margin-top: 1px;
  }

  &__keys-filename {
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    margin: 5px 0 30px;
  }
}